* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto';
}

input {
    box-shadow: none !Important;
    border: none !Important;
}

.center-wrap {
    max-width: 1240px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.shop-product-none {
    margin-bottom: 0 !important;
    padding: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
}

.body--filters .shop-sidebar {
    display: block !important;
}

.body--filters .shop-sidebar__open-btn {
    background: #fff !important;
}


.body--filters::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.body--sort::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.body--sort .catalog-sorting__button {
    background: #fff !important;
}

.body--sort .catalog-sorting__list {
    display: block !important;
}

header {
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    padding: 15px 0 32px;

    .header__top {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .burger-menu {
            display: none;
        }

        .header__nav {
            display: flex;
            align-items: center;

            .logo {
                width: 160px;
                height: 46px;
                margin-right: 31px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .header__list {
                display: flex;

                li {
                    padding-top: 5px;
                    display: flex;
                    align-items: center;
                    margin-right: 28px;
                    height: 26px;
                    border-bottom: 1px solid #fff;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    &:hover {
                        border-bottom: 1px solid #757575;
                    }
                }

                .header__link {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    color: #757575;
                }
            }
        }

        .header__tell {
            text-align: right;

            a {
                color: #757575!important;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
            }

            p {
                color: #757575;
                font-weight: 200;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    .header__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__search {
            display: flex;

            .header__search-input {
                padding: 0 14px;
                width: 461px;
                height: 45px;
                border: 2px solid #757575!important;
                box-sizing: border-box;
                border-radius: 35px;
                margin-right: 13px;
                font-size: 14px;
                line-height: 17px;
            }

            .header__search-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 168px;
                height: 45px;
                font-size: 16px;
                line-height: 19px;
                background: #752023;
                border-radius: 35px;
                color: #FFFFFF;
                border: 2px solid #752023;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    background: #FFFFFF;
                    color: #752023;
                }
            }
        }

        .header__offers {
            display: flex;

            .header__offers-prise {
                margin-right: 18px;
            }

            a {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 168px;
                height: 45px;
                border: 2px solid #752023;
                box-sizing: border-box;
                border-radius: 35px;
                font-size: 16px;
                color: #752023;
                transition: 0.5s;

                &:hover {
                    background: #752023;
                    color: #fff;
                }
            }
        }
    }
}

.breadcrumb-wrap {
    margin-bottom: 20px;

    ul {
        display: flex;

        li {
            position: relative;
            margin-right: 42px;

            &::before {
                left: calc(100% + 18px);
                top: calc(50% - 4px);
                position: absolute;
                content: "";
                background-image: url(../img/breadcrumb__arrow.svg);
                width: 5px;
                height: 9px;
            }

            &:last-of-type {
                margin-right: 0;

                a {
                    font-weight: 500;
                    color: #222C35;

                    &:hover {
                        text-decoration: none;
                    }


                }

                &::before {
                    display: none;
                }
            }
        }

        a {
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color: #A2A8C0;

            &:hover {
                text-decoration: underline;
            }

        }
    }
}

.shop {
    padding-bottom: 119px;
    background: #F6F6F6;

    .shop__top {
        padding: 27px 0 30px;

        .shop__title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-weight: bold;
                font-size: 36px;
                line-height: 42px;
                letter-spacing: 0.01em;
                color: #222C35;
            }

            .shop-sidebar__open-btn {
                display: none;
            }

            .catalog-sorting--active .catalog-sorting__list {
                display: block !important;
            }

            .catalog-sorting {
                position: relative;

                .catalog-sorting__button {
                    cursor: pointer;
                    padding-right: 18px;
                    background-color: transparent;
                    z-index: 100;
                    font-size: 16px;
                    line-height: 19px;
                    color: #222C35;
                    position: relative;

                    &::before {
                        background-image: url(../img/shop-catalog-sorting__button-arrow.svg);
                        content: "";
                        position: absolute;
                        top: calc(50% - 2px);
                        right: 0px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 12px;
                        height: 10px;
                    }
                }

                .catalog-sorting__list::after {
                    content: '';
                    position: absolute;
                    right: 32px;
                    bottom: 100%;
                    border: 9px solid transparent;
                    border-bottom: 7px solid #fff;
                }

                .catalog-sorting__list {
                    z-index: 100;
                    padding: 20px 0 20px 0;
                    width: 217px;
                    background: #FFFFFF;
                    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25);
                    border-radius: 2px;
                    position: absolute;
                    top: calc(100% + 10px);
                    right: 0;
                    display: none;

                    &::before {
                        content: "";
                        width: 100%;
                        height: 15px;
                        bottom: 100%;
                        position: absolute;
                    }

                    .catalog-sorting__item--active {
                        color: #222C35;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: calc(50% - 5px);
                            right: 20px;
                            background-image: url(../img/shop__select-ok.svg);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 15px;
                            height: 10px;
                        }
                    }

                    li {
                        cursor: pointer;
                        padding: 7px 25px;
                        font-size: 14px;
                        line-height: 16px;
                        color: #A2A8C0;


                        &:hover {
                            background: #EDEEF2;
                        }
                    }
                }
            }
        }
    }

    .shop__wrap {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .shop-sidebar {
        width: 264px;

        .checkbox-filter__list {
            width: calc(100% - 18px);
            margin-top: 10px;
            display: none;
        }

        .shop-sidebar__item:nth-of-type(1) .checkbox-filter__list {
            max-height: 248px;
            height: 100%;
        }

        .shop-sidebar__item:nth-of-type(2) .checkbox-filter__list {
            max-height: 184px;
            height: 100%;
        }
        
        .shop-sidebar__item:nth-of-type(3) .checkbox-filter__list {
            overflow-y: inherit;
            max-height: 68px;
            height: 100%;
        }

        .shop-sidebar__item--active {
            padding-bottom: 26px;
        }

        .shop-sidebar__item--active .shop-sidebar__title {
            padding: 18px 17px 18px !important;
        }

        .shop-sidebar__item--active .checkbox-filter__list {
            display: block !important;

        }

        .shop-sidebar__item--active .shop-sidebar__title {
            img {
                transform: rotate(180deg) !important;
            }
        }

        .shop-sidebar__remove-btn {
            font-weight: bold;
            width: 100%;
            height: 75.5px;
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            font-size: 14px;
            line-height: 16px;
            background: #fff;
            color: #222C35;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background: #222C35;
                color: #fff;
            }

        }

        .shop-sidebar__item {
            width: 100%;
            background: #FFFFFF;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            margin-bottom: 6px;
            position: relative;

            .shop-sidebar__title {
                padding: 28px 17px;
                width: 100%;
                text-align: left;
                background-color: transparent;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #222C35;
                position: relative;
                cursor: pointer;

                img {
                    background-color: transparent;
                    position: absolute;
                    top: calc(50% - 4px);
                    right: 14px;
                    width: 12px;
                }
            }

            .checkbox-filter__item--active {
                input[type=checkbox] + label:before {
                    background-image: url(../img/shop__checkbox.svg);
                    background-size: 10px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .checkbox-filter__item {
                padding: 6px 17px;
                height: 34px;
                display: flex;
                align-items: center;
                cursor: pointer;


                &:last-of-type {
                    margin-bottom: 0;
                }

                input[type=checkbox] {
                    display: none;
                }

                label {
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 14px;
                    color: #222C35;
                }

                input[type=checkbox] + label:before {
                    content: "";
                    cursor: pointer;
                    color: transparent;
                    display: inline-block;
                    border: 2px solid #757575;
                    box-sizing: border-box;
                    margin: -3px 11px 0 0;
                    height: 20px;
                    width: 20px;
                    text-align: center;
                    vertical-align: middle;
                    transition: color ease .3s;
                    border-radius: 3px;

                }

                input[type=checkbox]:checked + label:before {
                    color: #000;
                }
            }
        }

        .checkbox-filter__list {
            overflow-y: scroll;
        }

        .checkbox-filter__list::-webkit-scrollbar {
            width: 3px;
        }

        .checkbox-filter__list::-webkit-scrollbar-track {
            background: #757575;
            border: 1px solid #fff;
        }

        .checkbox-filter__list::-webkit-scrollbar-thumb:vertical {
            background: #222C35;
            height: 50px;
            border-radius: 2px;
        }
    }

    .shop-products {
        width: calc(100% - 287px);
        text-align: center;

        .shop-products__view {
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            color: #757575;
            margin-bottom: 20px;
        }

        .shop-products__btn {
            color: #EDEEF2;
            font-size: 16px;
            line-height: 19px;
            background: #752023;
            border: 2px solid #752023;
            box-sizing: border-box;
            border-radius: 35px;
            padding: 13px 31px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                color: #752023;
                background-color: transparent;
            }
        }

        .shop-products__wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 52px;
        }
    }
}

.shop-product {
    background: #fff;
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: calc((100% - 18px) / 4);
    margin-bottom: 6px;
    padding: 31px 21px 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    .shop-product__name {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 27px;
        color: #222C35;

        &:hover {
            text-decoration: underline;
        }
    }

    .shop-product__link {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shop-product__btn {
        margin-top: auto;
    }

    .shop-product__btn {
        cursor: pointer;
        padding: 0px 26px;
        border: 2px solid #757575;
        box-sizing: border-box;
        border-radius: 35px;
        font-size: 16px;
        line-height: 36px;
        color: #757575;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        &:hover {
            background: #757575;
            color: #fff;
        }
    }

    .shop-product__img {
        width: 100%;
        position: relative;

        &::before {
            content: "";
            display: block;
            padding-bottom: 105%;

        }

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}



footer {
    height: 294px;
    padding-bottom: 50px;
    background: #222C35;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);

    .center-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer__tell-mobile,
    .footer-logo {
        display: none;
    }

    .footer__tell {
        margin-top: -22.5px;
        display: flex;
        align-items: center;
        width: 600px;
        height: 45px;
        background: #FFFFFF;
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
        border-radius: 35px;
        text-align: center;

        p {
            font-weight: bold;
            font-size: 20px;
            line-height: 45px;
            color: #757575;
            width: 50%;
            position: relative;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            &::before {
                content: "";
                position: absolute;
                right: 0;
                height: 23px;
                width: 1px;
                background: #D9D9D9;
            }
        }

        a {
            font-weight: bold;
            font-size: 20px;
            line-height: 45px;
            color: #757575!important;
            width: 50%;
            text-align: center;
        }
    }

    .footer__list {
        display: flex;
        justify-content: center;

        li {
            margin-right: 32px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .footer__link {
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: #EDEEF2;

            &:hover {
                text-decoration: underline;
            }

        }
    }

    .footer__bottom {
        text-align: center;
        font-weight: 500;
        color: #EDEEF2;
        font-size: 12px;
        line-height: 14px;

        span {
            font-weight: 200;
        }
    }
}

@media (max-width: 1199.98px) {
    body {
        zoom: 0.88;
    }
}

@media (max-width: 991.98px) {
    body {
        zoom: 1;
    }

    header {
        padding: 11px 0 40px;

        .header__top {
            margin-bottom: 61px;
            position: relative;

            .burger-menu {
                height: 33px;
                width: 33px;
                top: 6px;
                left: 0;
                position: absolute;
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .header__nav {
                width: 100%;
                justify-content: center;
                align-items: center;

                .logo {
                    width: 114px;
                    height: 33px;
                    margin-right: 0px;
                }

                .header__list {
                    display: none;
                }
            }

            .header__tell {
                display: none;
            }
        }

        .header__bottom {
            .header__search {
                .header__search-input {
                    width: 398px;
                    height: 40px;
                    margin-right: 0;
                    font-size: 12px;
                    line-height: 15px;
                }

                .header__search-btn {
                    font-size: 14px;
                    line-height: 16px;
                    margin-left: -102px;
                    width: 102px;
                    height: 40px;
                }
            }

            .header__offers {
                .header__offers-prise {
                    margin-right: 16px;
                }

                a {
                    font-size: 14px;
                    line-height: 16px;
                    width: 142px;
                    height: 40px;
                }
            }
        }
    }

    .breadcrumb-wrap {
        display: none;
    }

    .shop {
        padding-bottom: 63px;

        .shop__top {
            padding: 30px 0 28px;

            .shop__title {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                h2 {
                    font-size: 20px;
                    line-height: 23px;
                    margin-bottom: 24px;
                }

                .shop__title-wrap {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                .shop-sidebar__open-btn--active {
                    background-color: #fff !important;
                }

                .shop-sidebar__open-btn {
                    cursor: pointer;
                    position: relative;
                    z-index: 100;
                    display: block;
                    width: calc(50% - 7px);
                    text-align: left;
                    height: 35px;
                    padding: 0 24px 0 20px;
                    font-size: 12px;
                    line-height: 14px;
                    border: 1px solid #757575;
                    box-sizing: border-box;
                    border-radius: 35px;
                    background-color: transparent;

                    &::before {
                        background-image: url(../img/shop-catalog-sorting__button-arrow.svg);
                        content: "";
                        position: absolute;
                        top: calc(50% - 2px);
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 12px;
                        height: 10px;
                        right: 24px;
                    }
                }

                .catalog-sorting {
                    width: calc(50% - 7px);
                    position: relative;

                    .catalog-sorting__button {
                        text-align: left;
                        height: 35px;
                        padding: 0 24px 0 20px;
                        font-size: 12px;
                        line-height: 14px;
                        border: 1px solid #757575;
                        box-sizing: border-box;
                        border-radius: 35px;
                        width: 100%;

                        &::before {
                            right: 24px;
                        }
                    }
                }
            }
        }

        .shop-sidebar {
            display: none;
            width: 264px;
            position: absolute;
            z-index: 100;
            top: -10px;
        }

        .shop-products {
            width: 100%;

            .shop-products__view {
                margin-bottom: 26px;
            }
        }

        .shop-products__wrap {
            margin-bottom: 36px;
        }
    }

    .shop-product {
        padding: 21px 8px 24px;

        .shop-product__name {
            margin-bottom: 28px;
        }

        .shop-product__btn {
            padding: 0px 15px;
            line-height: 30px;
            border: 1px solid #757575;
            border-radius: 42px;
        }

        .shop-product__img {
            &::before {
                padding-bottom: 100%;
            }
        }
    }

    footer {
        height: auto;
        padding: 35px 0 31px;

        .center-wrap {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }


        .footer-logo {
            display: block;
            margin-bottom: 50px;
            width: 86px;

            img {
                width: 100%;
            }
        }

        .footer__tell-mobile {
            display: block;
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #EDEEF2!important;
            margin-bottom: 30px;
        }

        .footer__list,
        .footer__tell {
            display: none;
        }
    }

}

@media (max-width: 767.98px) {

    header {
        padding: 11px 0 34px;

        .header__top {
            margin-bottom: 42px;
        }

        .header__bottom {
            flex-direction: column;

            .header__search {
                justify-content: center;
                width: 100%;
                margin-bottom: 23px;

                .header__search-input {
                    width: 100%;
                    max-width: 450px;
                    height: 35px;
                }

                .header__search-btn {
                    height: 35px
                }
            }

            .header__offers {
                justify-content: space-between;
                width: 100%;
                max-width: 450px;


                .header__offers-prise {
                    margin-right: 14px;
                }

                a {
                    max-width: 300px;
                    width: 100%;
                    height: 35px;
                }
            }
        }
    }


    .shop {
        padding-bottom: 48px;

        .shop__top {
            padding: 30px 0 28px;

            .shop__title {
                h2 {
                    margin-bottom: 20px;
                }

                .shop-sidebar__open-btn {
                    height: 35px;
                    padding: 8px 18px 8px 14px;


                    &::before {
                        width: 10px;
                        right: 12px;
                    }
                }

                .catalog-sorting {
                    .catalog-sorting__button {
                        padding: 8px 18px 8px 14px;

                        &::before {
                            width: 10px;
                            right: 12px;
                        }
                    }
                }
            }
        }

        .shop-sidebar {

            .checkbox-filter__list {
                margin-top: 5px;
            }

            .shop-sidebar__item--active {
                padding-bottom: 20px;

            }

            .shop-sidebar__item {

                .shop-sidebar__title {
                    padding: 14px 17px;
                }
            }
        }


        .shop-products {
            padding-left: 0px;

            .shop-products__view {
                margin-bottom: 26px;
            }
        }

        .shop-products__wrap {
            margin-bottom: 36px;
        }
    }

    .shop-product {
        padding: 18px 6px 20px;
        width: calc((100% - 12px) / 3);


        .shop-product__name {
            margin-bottom: 28px;
            margin-bottom: 24px;
            font-size: 12px;
            line-height: 14px;
        }

        .shop-product__btn {
            padding: 0px 13px;
            border-radius: 35px;
            font-size: 12px;
            line-height: 25px;
        }

        .shop-product__img {
            &::before {
                padding-bottom: 100%;
            }
        }
    }
}

@media (max-width: 500.98px) {
    .shop-product {
        width: calc((100% - 12px) / 2);
    }
}
